/* 公共样式 */
.hkx-btn {
  height: 30px;
  display: inline-block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
}
/* 类型相关 */
.hkx-btn.hkx-btn-primary {
  background-color: blue;
  color: white;
}
.hkx-btn.hkx-btn-dashed {
  border: 1px dashed gray;
}
.hkx-btn.hkx-btn-text {
  background-color: transparent;
}
.hkx-btn.hkx-btn-link {
  color: blue;
  text-decoration: underline;
}

/* 大小相关 */
.hkx-btn.hkx-btn-small {
  padding: 4px 8px;
  font-size: 12px;
}
.hkx-btn.hkx-btn-medium {
  padding: 8px 16px;
  font-size: 14px;
}
.hkx-btn.hkx-btn-large {
  padding: 12px 24px;
  font-size: 16px;
}

/* 禁用状态 */
.hkx-btn:disabled {
  background-color: lightgray;
  color: gray;
  cursor: not-allowed;
}
