.dumi-default-source-code {
  background-color: #f4f4f4 !important;
}

.dumi-default-doc-layout {
  .dumi-default-header {
    .dumi-default-header-content {
      padding-left: 20px;

      .dumi-default-header-left {
        width: 200px;
      }

      .dumi-default-header-right {
        padding-left: 4px;

        .dumi-default-navbar {
          .active {
            padding-bottom: 8px;
            border-bottom: 2px solid #333;
          }
        }

        .dumi-default-header-right-aside {
          .dumi-default-search-bar {
            margin-inline-end: 0;
          }
          
          .dumi-default-color-switch {
            display: none;
          }
        }
      }
    }
  }

  main {
    .dumi-default-sidebar {
      width: 200px !important;
      padding-inline-start: 0 !important;
      padding-inline-end: 12px !important;
    
      .dumi-default-sidebar-group {
        .active {
          font-weight: bold;
        }
      }
    }

    .dumi-default-content {
      height: calc(100vh - 76px);
      overflow: auto;
      scrollbar-width: 6px;
    }
  }
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #c8c8c8;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #eee;
}
